/*=========================================================================================
	File Name: vertical-compact-menu.scss
	Description: A compact size menu provides more space to content part with open and hide support.
	It support light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Theme
	Version: 1.2
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-compact-menu .content {
  margin-left: 150px; }

.vertical-compact-menu .navbar .navbar-header {
  float: left;
  width: 150px; }

.vertical-compact-menu .navbar .navbar-container {
  margin-left: 150px; }

.vertical-compact-menu .navbar.navbar-brand-center .navbar-container {
  margin-left: 0; }

.vertical-compact-menu .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto; }

.vertical-compact-menu .main-menu {
  width: 150px;
  left: 0; }
  .vertical-compact-menu .main-menu .main-menu-header .user-content .media-left {
    display: block;
    text-align: center;
    padding: 0; }
    .vertical-compact-menu .main-menu .main-menu-header .user-content .media-left .avatar-md {
      width: 60px;
      text-align: center; }
  .vertical-compact-menu .main-menu .main-menu-header .user-content .media-body {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
    margin-top: 0.5rem; }
  .vertical-compact-menu .main-menu .main-menu-header .user-content .media-right {
    display: none; }
  .vertical-compact-menu .main-menu .main-menu-content > span.menu-title, .vertical-compact-menu .main-menu .main-menu-content a.menu-title {
    right: -240px;
    width: 240px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    background-color: #967ADC;
    border-color: #967ADC;
    padding: 11px 20px; }
  .vertical-compact-menu .main-menu .main-menu-content > ul.menu-content {
    left: 150px;
    width: 240px;
    transition: visibility .25s,opacity .25s;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.02); }
    .vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li {
      white-space: nowrap;
      position: relative; }
      .vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li a {
        display: block;
        padding: 8px 20px 8px 20px; }
      .vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li.has-sub > a:not(.mm-next):after {
        content: "\ea0a";
        font-family: "icomoon";
        font-size: 1rem;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 10px;
        transform: rotate(0deg);
        transition: -webkit-transform 0.2s ease-in-out; }
      .vertical-compact-menu .main-menu .main-menu-content > ul.menu-content li.open > a:not(.mm-next):after {
        transform: rotate(90deg); }
  .vertical-compact-menu .main-menu .navigation {
    overflow: visible; }
    .vertical-compact-menu .main-menu .navigation > li.navigation-header {
      padding: 12px 20px;
      text-align: center;
      font-weight: 800; }
      .vertical-compact-menu .main-menu .navigation > li.navigation-header .icon-ellipsis {
        visibility: hidden;
        display: none;
        opacity: 0; }
    .vertical-compact-menu .main-menu .navigation > li > a {
      width: auto;
      padding: 0.5rem;
      text-align: center;
      transition: visibility .25s,opacity .25s; }
      .vertical-compact-menu .main-menu .navigation > li > a > i {
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 1.65rem;
        margin: 0.2rem 0 0.8rem 0;
        text-align: center; }
        .vertical-compact-menu .main-menu .navigation > li > a > i:before {
          transition: 200ms ease all; }
      .vertical-compact-menu .main-menu .navigation > li > a > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle; }
    .vertical-compact-menu .main-menu .navigation > li.hover > ul {
      display: none; }
    .vertical-compact-menu .main-menu .navigation > li.hover > a > span {
      visibility: visible;
      opacity: 1; }
  .vertical-compact-menu .main-menu .mTSWrapper {
    overflow: visible; }

.vertical-compact-menu.menu-open .main-menu {
  opacity: 1;
  transition: transform .25s, opacity .25s,top .35s,height .35s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000; }

.vertical-compact-menu.menu-open .content, .vertical-compact-menu.menu-open .footer {
  margin-left: 150px; }

.vertical-compact-menu.menu-open .navbar-brand-center .content, .vertical-compact-menu.menu-open .navbar-brand-center .footer {
  margin-left: 0; }

.vertical-compact-menu.menu-open.boxed-layout .main-menu {
  transform: translate3d(150px, 0, 0); }

.vertical-compact-menu.menu-hide .content {
  margin-left: 0; }

.vertical-compact-menu.menu-hide .main-menu {
  opacity: 0;
  transition: transform .25s, opacity .25s,top .35s,height .35s;
  transform: translate3d(-150px, 0, 0);
  backface-visibility: hidden;
  perspective: 1000; }

.vertical-compact-menu.menu-hide .content, .vertical-compact-menu.menu-hide .footer {
  margin-left: 0; }

.vertical-compact-menu.menu-hide .navbar-brand-center .content, .vertical-compact-menu.menu-hide .navbar-brand-center .footer {
  margin-left: 0; }

.vertical-compact-menu.menu-flipped .content {
  margin: 0;
  margin-right: 150px; }

.vertical-compact-menu.menu-flipped .main-menu {
  right: 0;
  left: inherit; }
  .vertical-compact-menu.menu-flipped .main-menu ul.menu-content {
    right: 150px;
    left: inherit; }
  .vertical-compact-menu.menu-flipped .main-menu .navigation > li > ul {
    right: 150px;
    left: inherit; }

.vertical-compact-menu.menu-flipped .navbar .navbar-header {
  float: right; }

.vertical-compact-menu.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 150px; }

.vertical-compact-menu.menu-flipped.menu-open.boxed-layout .main-menu {
  transform: translate3d(-150px, 0, 0); }

.vertical-compact-menu.menu-flipped.menu-hide .content {
  margin: 0;
  margin-right: 0; }

.vertical-compact-menu.menu-flipped.menu-hide .main-menu {
  transform: translate3d(150px, 0, 0);
  backface-visibility: hidden;
  perspective: 1000; }

@media (min-width: 992px) {
  body.vertical-compact-menu .main-menu {
    width: 150px; }
  body.vertical-compact-menu .navbar .navbar-header {
    width: 150px; }
  body.vertical-compact-menu .content, body.vertical-compact-menu .footer {
    margin-left: 150px; } }

@media (max-width: 991px) {
  body.vertical-compact-menu .main-menu {
    width: 0; }
  body.vertical-compact-menu .navbar .navbar-header {
    width: 0; }
  body.vertical-compact-menu .content, body.vertical-compact-menu .footer {
    margin-left: 0; } }

@media (max-width: 767px) {
  body.vertical-compact-menu .content,
  body.vertical-compact-menu .footer {
    margin-left: 0; } }
