/*=========================================================================================
	File Name: vertical-content-menu.scss
	Description: A vertical style content menu with expand and collops support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Theme
	Version: 1.2
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-content-menu.menu-expanded .navbar .navbar-header {
  float: left;
  width: 240px; }

.vertical-content-menu.menu-expanded .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto; }

.vertical-content-menu.menu-expanded .navbar.navbar-brand-center .navbar-container {
  margin-left: 0; }

.vertical-content-menu.menu-expanded .navbar .navbar-container {
  margin-left: 240px; }

.vertical-content-menu.menu-expanded .main-menu {
  width: 240px;
  transition: 300ms ease all;
  backface-visibility: hidden;
  top: inherit; }
  .vertical-content-menu.menu-expanded .main-menu .navigation .navigation-header .icon-ellipsis {
    display: none; }
  .vertical-content-menu.menu-expanded .main-menu .navigation > li > a > i {
    margin-right: 12px;
    float: left; }
    .vertical-content-menu.menu-expanded .main-menu .navigation > li > a > i:before {
      font-size: 1.2rem; }
  .vertical-content-menu.menu-expanded .main-menu .navigation > li > a > span {
    display: inline-block; }
    .vertical-content-menu.menu-expanded .main-menu .navigation > li > a > span.tag {
      position: absolute;
      right: 20px; }
  .vertical-content-menu.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: "\ea0a";
    font-family: "icomoon";
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out; }
  .vertical-content-menu.menu-expanded .main-menu .navigation li.open > a:not(.mm-next):after {
    transform: rotate(90deg); }
  .vertical-content-menu.menu-expanded .main-menu .main-menu-footer {
    width: 240px; }

.vertical-content-menu.menu-expanded .content-body {
  margin-left: 268px;
  transition: 300ms ease all; }

.vertical-content-menu.menu-expanded.menu-flipped .content-body {
  margin: 0;
  margin-right: 268px;
  transition: 300ms ease all; }

@media (min-width: 544px) {
  .vertical-content-menu.menu-expanded.menu-flipped:not(.boxed-layout) .main-menu {
    right: 20px; }
  .vertical-content-menu.menu-expanded.menu-flipped.boxed-layout .main-menu {
    float: right;
    position: relative; } }

.vertical-content-menu.menu-expanded.menu-flipped .navbar .navbar-header {
  float: right; }

.vertical-content-menu.menu-expanded.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 240px; }

.vertical-content-menu.menu-collapsed .navbar .navbar-header {
  float: left;
  width: 240px; }

.vertical-content-menu.menu-collapsed .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto; }

.vertical-content-menu.menu-collapsed .navbar.navbar-brand-center .navbar-container {
  margin-left: 0; }

.vertical-content-menu.menu-collapsed .navbar .navbar-container {
  margin-left: 240px; }

.vertical-content-menu.menu-collapsed .main-menu {
  width: 60px;
  transform: translateZ(-160px) translateX(-160px);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all;
  top: inherit; }
  .vertical-content-menu.menu-collapsed .main-menu .main-menu-header .user-content {
    padding: 20px 10px; }
  .vertical-content-menu.menu-collapsed .main-menu .main-menu-footer,
  .vertical-content-menu.menu-collapsed .main-menu .main-menu-header .media-body .media-heading,
  .vertical-content-menu.menu-collapsed .main-menu .main-menu-header .media-body .text-muted,
  .vertical-content-menu.menu-collapsed .main-menu .main-menu-header .media-right {
    display: none; }
  .vertical-content-menu.menu-collapsed .main-menu .main-menu-header .media-body {
    opacity: 0; }
  .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title, .vertical-content-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
    right: -240px;
    width: 240px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    background-color: #967ADC;
    border-color: #967ADC;
    padding: 11px 20px; }
  .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content {
    left: 60px;
    width: 240px;
    transition: visibility .25s,opacity .25s;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.02); }
    .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li {
      white-space: nowrap;
      position: relative; }
      .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li a {
        display: block;
        padding: 8px 20px 8px 20px; }
      .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.has-sub > a:not(.mm-next):after {
        content: "\ea0a";
        font-family: "icomoon";
        font-size: 1rem;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 10px;
        transform: rotate(0deg);
        transition: -webkit-transform 0.2s ease-in-out; }
      .vertical-content-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.open > a:not(.mm-next):after {
        transform: rotate(90deg); }
  .vertical-content-menu.menu-collapsed .main-menu .navigation {
    overflow: visible; }
    .vertical-content-menu.menu-collapsed .main-menu .navigation > li.navigation-header {
      padding: 30px 20px 8px 20px; }
      .vertical-content-menu.menu-collapsed .main-menu .navigation > li.navigation-header .icon-ellipsis {
        display: block;
        padding: 12px 0px;
        text-align: center;
        font-size: 1.6rem; }
      .vertical-content-menu.menu-collapsed .main-menu .navigation > li.navigation-header span {
        display: none; }
    .vertical-content-menu.menu-collapsed .main-menu .navigation > li > a {
      padding: 8px 20px; }
      .vertical-content-menu.menu-collapsed .main-menu .navigation > li > a > span {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        right: -240px;
        width: 240px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        background-color: #967ADC;
        border-color: #967ADC;
        padding: 11px 20px; }
      .vertical-content-menu.menu-collapsed .main-menu .navigation > li > a > i {
        margin-right: 0;
        font-size: 1.2rem;
        visibility: visible; }
    .vertical-content-menu.menu-collapsed .main-menu .navigation > li > ul {
      display: none; }
    .vertical-content-menu.menu-collapsed .main-menu .navigation > li > a > span {
      display: none; }
  .vertical-content-menu.menu-collapsed .main-menu .mTSWrapper {
    overflow: visible; }

.vertical-content-menu.menu-collapsed .content-body {
  margin-left: 85px;
  transition: 300ms ease all; }

.vertical-content-menu.menu-collapsed.menu-flipped .content-body {
  margin-left: 0px;
  margin-right: 85px;
  transition: 300ms ease all; }

@media (min-width: 544px) {
  .vertical-content-menu.menu-collapsed.menu-flipped:not(.boxed-layout) .main-menu {
    right: 1.5rem; }
    .vertical-content-menu.menu-collapsed.menu-flipped:not(.boxed-layout) .main-menu span.menu-title {
      right: 60px; }
    .vertical-content-menu.menu-collapsed.menu-flipped:not(.boxed-layout) .main-menu ul.menu-content {
      right: 60px;
      left: inherit; }
  .vertical-content-menu.menu-collapsed.menu-flipped.boxed-layout .main-menu {
    float: right;
    position: relative; }
  .vertical-content-menu.menu-collapsed.menu-flipped.boxed-layout span.menu-title {
    right: 60px; }
  .vertical-content-menu.menu-collapsed.menu-flipped.boxed-layout ul.menu-content {
    right: 60px;
    left: inherit; } }

.vertical-content-menu.menu-collapsed.menu-flipped .navbar .navbar-header {
  float: right; }

.vertical-content-menu.menu-collapsed.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 240px; }

.vertical-content-menu .navbar-brand-center .content, .vertical-content-menu .navbar-brand-center .footer {
  margin-left: 0; }

.vertical-content-menu.boxed-layout.menu-flipped .main-men {
  float: right;
  position: relative; }

[data-textdirection="rtl"] body.vertical-layout.vertical-content-menu.menu-collapsed .main-menu .navigation > li > a {
  padding: 12px 22px !important; }

[data-textdirection="rtl"] body.vertical-layout.vertical-content-menu.menu-collapsed .main-menu .navigation > li.navigation-header .icon-ellipsis {
  padding: 12px 0px; }

@media (min-width: 992px) {
  body.vertical-content-menu .main-menu {
    width: 240px; }
  body.vertical-content-menu .navbar .navbar-header {
    width: 240px; }
  body.vertical-content-menu .content-body {
    margin-left: 268px;
    transition: 300ms ease all; } }

@media (max-width: 991px) {
  body.vertical-content-menu .main-menu {
    width: 60px; }
  body.vertical-content-menu .navbar .navbar-header {
    width: 60px; }
  body.vertical-content-menu .content-body {
    margin-left: 85px;
    transition: 300ms ease all; } }

@media (max-width: 767px) {
  body.vertical-content-menu .content-body {
    margin-left: 0; } }
