@font-face {
    font-family: Vazir;
    font-style: normal;
    /*font-weight: bold;*/
    src: url('../../app-assets/fonts/Vazir/Vazir.eot');
    src: url('../../app-assets/fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../app-assets/fonts/Vazir/Vazir.woff') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../../app-assets/fonts/Vazir/Vazir.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../app-assets/fonts/Vazir/Vazir.ttf') format('truetype');
}

li,p,h1,h2,h3,h4,h5,h6,button,th,tr,td,div,span{
    font-family: Vazir;

}
.lead{
    font-family: Vazir;
}
/*.jsgrid-grid-body{*/
    /*overflow: hidden;*/
/*}*/
/*.jsgrid-grid-header{*/
    /*overflow: hidden;*/
/*}*/

input:-moz-placeholder { font-family: Vazir}
.date-inputmask{
    direction: ltr;
    text-align: right;
}