/*=========================================================================================
	File Name: vertical-multi-level-menu.scss
	Description: A multi level vertical style menu with show and hide support. It support 
	light & dark version, filpped layout, right side icons, native scroll and borders menu item 
	seperation.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Theme
	Version: 1.2
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.mm-hidden {
  display : none !important;
}

.mm-wrapper {
  overflow-x : hidden;
  position : relative;
}

.mm-menu {
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
          box-sizing : border-box;
  background : inherit;
  display : block;
  padding : 0;
  margin : 0;
  position : absolute;
  right : 0;
  left : 0;
  top : 0;
  bottom : 0;
  z-index : 0;
}

.mm-panels, .mm-panels > .mm-panel {
  background : inherit;
  border-color : inherit;
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
          box-sizing : border-box;
  margin : 0;
  position : absolute;
  right : 0;
  left : 0;
  top : 0;
  bottom : 0;
  z-index : 0;
}

.mm-panels {
  overflow : hidden;
}

.mm-panel {
  -webkit-transition : -webkit-transform 0.4s ease;
          transition : -webkit-transform 0.4s ease;
     -moz-transition :         transform 0.4s ease, -moz-transform 0.4s ease;
       -o-transition :         transform 0.4s ease, -o-transform 0.4s ease;
          transition :         transform 0.4s ease;
          transition :         transform 0.4s ease, -webkit-transform 0.4s ease, -moz-transform 0.4s ease, -o-transform 0.4s ease;
  -webkit-transform : translate3d(-100%, 0, 0);
     -moz-transform : translate3d(-100%, 0, 0);
          transform : translate3d(-100%, 0, 0);
}
.mm-panel.mm-opened {
  -webkit-transform : translate3d(0%, 0, 0);
     -moz-transform : translate3d(0%, 0, 0);
          transform : translate3d(0%, 0, 0);
}
.mm-panel.mm-subopened {
  -webkit-transform : translate3d(30%, 0, 0);
     -moz-transform : translate3d(30%, 0, 0);
          transform : translate3d(30%, 0, 0);
}
.mm-panel.mm-highest {
  z-index : 1;
}

.mm-panels > .mm-panel {
  -webkit-overflow-scrolling : touch;
  overflow : scroll;
  overflow-x : hidden;
  overflow-y : auto;
  padding : 0 20px;
}
.mm-panels > .mm-panel.mm-hasnavbar {
  padding-top : 40px;
}
.mm-panels > .mm-panel:before, .mm-panels > .mm-panel:after {
  content : '';
  display : block;
  height : 20px;
}

.mm-vertical .mm-panel {
  -webkit-transform : none !important;
     -moz-transform : none !important;
      -ms-transform : none !important;
       -o-transform : none !important;
          transform : none !important;
}

.mm-vertical .mm-listview .mm-panel, .mm-listview .mm-vertical .mm-panel {
  display : none;
  padding : 10px 10px 10px 0;
}
.mm-vertical .mm-listview .mm-panel .mm-listview > li:last-child:after, .mm-listview .mm-vertical .mm-panel .mm-listview > li:last-child:after {
  border-color : transparent;
}

.mm-vertical li.mm-opened > .mm-panel, li.mm-vertical.mm-opened > .mm-panel {
  display : block;
}

.mm-vertical .mm-listview > li > .mm-next, .mm-listview > li.mm-vertical > .mm-next {
  height : 40px;
  bottom : auto;
}
.mm-vertical .mm-listview > li > .mm-next:after, .mm-listview > li.mm-vertical > .mm-next:after {
  top : 16px;
  bottom : auto;
}

.mm-vertical .mm-listview > li.mm-opened > .mm-next:after, .mm-listview > li.mm-vertical.mm-opened > .mm-next:after {
  -webkit-transform : rotate(-45deg);
     -moz-transform : rotate(-45deg);
      -ms-transform : rotate(-45deg);
       -o-transform : rotate(-45deg);
          transform : rotate(-45deg);
  left : 19px;
}

.mm-btn {
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
          box-sizing : border-box;
  width : 40px;
  height : 40px;
  position : absolute;
  top : 0;
  z-index : 1;
}

.mm-clear:before, .mm-clear:after, .mm-close:before, .mm-close:after {
  content : '';
  border : 2px solid transparent;
  display : block;
  width : 5px;
  height : 5px;
  margin : auto;
  position : absolute;
  top : 0;
  bottom : 0;
  -webkit-transform : rotate(45deg);
     -moz-transform : rotate(45deg);
      -ms-transform : rotate(45deg);
       -o-transform : rotate(45deg);
          transform : rotate(45deg);
}

.mm-clear:before, .mm-close:before {
  border-left : none;
  border-bottom : none;
  left : 20px;
}

.mm-clear:after, .mm-close:after {
  border-right : none;
  border-top : none;
  left : 25px;
}

.mm-prev:before, .mm-next:after, .mm-arrow:after {
  content : '';
  border : 2px solid transparent;
  display : block;
  width : 8px;
  height : 8px;
  margin : auto;
  position : absolute;
  top : 0;
  bottom : 0;
  -webkit-transform : rotate(45deg);
     -moz-transform : rotate(45deg);
      -ms-transform : rotate(45deg);
       -o-transform : rotate(45deg);
          transform : rotate(45deg);
}

.mm-prev:before {
  border-left : none;
  border-bottom : none;
  right : 23px;
}

.mm-next:after, .mm-arrow:after {
  border-top : none;
  border-right : none;
  left : 23px;
}

.mm-navbar {
  border-bottom : 1px solid;
  border-color : inherit;
  text-align : center;
  line-height : 20px;
  height : 40px;
  padding : 0 40px;
  margin : 0;
  position : absolute;
  top : 0;
  right : 0;
  left : 0;
}
.mm-navbar > * {
  display : block;
  padding : 10px 0;
}
.mm-navbar a, .mm-navbar a:hover {
  text-decoration : none;
}
.mm-navbar .mm-title {
  text-overflow : ellipsis;
  white-space : nowrap;
  overflow : hidden;
}
.mm-navbar .mm-btn:first-child {
  padding-right : 20px;
  right : 0;
}
.mm-navbar .mm-btn:last-child {
  text-align : left;
  padding-left : 20px;
  left : 0;
}

.mm-panel .mm-navbar {
  display : none;
}

.mm-panel.mm-hasnavbar .mm-navbar {
  display : block;
}

.mm-listview, .mm-listview > li {
  list-style : none;
  display : block;
  padding : 0;
  margin : 0;
}

.mm-listview {
  font : inherit;
  font-size : 14px;
  line-height : 20px;
}
.mm-listview a, .mm-listview a:hover {
  text-decoration : none;
}
.mm-listview > li {
  position : relative;
}
.mm-listview > li, .mm-listview > li:after, .mm-listview > li .mm-next, .mm-listview > li .mm-next:before {
  border-color : inherit;
}
.mm-listview > li > a, .mm-listview > li > span {
  text-overflow : ellipsis;
  white-space : nowrap;
  overflow : hidden;
  color : inherit;
  display : block;
  padding : 10px 20px 10px 10px;
  margin : 0;
}
.mm-listview > li > a.mm-arrow, .mm-listview > li > span.mm-arrow {
  padding-left : 50px;
}
.mm-listview > li:not(.mm-divider):after {
  content : '';
  border-bottom-width : 1px;
  border-bottom-style : solid;
  display : block;
  position : absolute;
  right : 0;
  left : 0;
  bottom : 0;
}
.mm-listview > li:not(.mm-divider):after {
  right : 20px;
}
.mm-listview .mm-next {
  background : rgba(3, 2, 1, 0);
  width : 50px;
  padding : 0;
  position : absolute;
  left : 0;
  top : 0;
  bottom : 0;
  z-index : 2;
}
.mm-listview .mm-next:before {
  content : '';
  border-right-width : 1px;
  border-right-style : solid;
  display : block;
  position : absolute;
  top : 0;
  bottom : 0;
  right : 0;
}
.mm-listview .mm-next + a, .mm-listview .mm-next + span {
  margin-left : 50px;
}
.mm-listview .mm-next.mm-fullsubopen {
  width : 100%;
}
.mm-listview .mm-next.mm-fullsubopen:before {
  border-right : none;
}
.mm-listview .mm-next.mm-fullsubopen + a, .mm-listview .mm-next.mm-fullsubopen + span {
  padding-left : 50px;
  margin-left : 0;
}

.mm-panels > .mm-panel > .mm-listview {
  margin : 20px -20px;
}

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top : -20px;
}

.mm-listview .mm-inset {
  list-style : inside disc;
  padding : 0 40px 15px 10px;
  margin : 0;
}
.mm-listview .mm-inset > li {
  padding : 5px 0;
}

.mm-listview .mm-divider {
  text-overflow : ellipsis;
  white-space : nowrap;
  overflow : hidden;
  font-size : 10px;
  text-transform : uppercase;
  text-indent : 20px;
  line-height : 25px;
}

.mm-listview .mm-spacer {
  padding-top : 40px;
}
.mm-listview .mm-spacer > .mm-next {
  top : 40px;
}
.mm-listview .mm-spacer.mm-divider {
  padding-top : 25px;
}

/*
	jQuery.mmenu navbars addon CSS
*/
.mm-menu > .mm-navbar {
  background : inherit;
  padding : 0;
  z-index : 3;
  -webkit-transform : translate3d(0, 0, 0);
     -moz-transform : translate3d(0, 0, 0);
          transform : translate3d(0, 0, 0);
}

.mm-navbar-bottom {
  border-top-width : 1px;
  border-top-style : solid;
  border-bottom : none;
  top : auto;
  bottom : 0;
}

.mm-navbar-top ~ .mm-navbar-top {
  border-bottom : none;
}

.mm-navbar-bottom ~ .mm-navbar-bottom {
  border-top : none;
}

.mm-navbar.mm-hasbtns {
  padding : 0 40px;
}

.mm-navbar[class*='mm-navbar-content-'] > * {
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
          box-sizing : border-box;
  display : block;
  float : right;
}

.mm-navbar .mm-breadcrumbs {
  text-overflow : ellipsis;
  white-space : nowrap;
  overflow : hidden;
  -webkit-overflow-scrolling : touch;
  overflow-x : auto;
  text-align : right;
  padding : 0 17px 0 0;
}
.mm-navbar .mm-breadcrumbs > * {
  display : inline-block;
  padding : 10px 3px;
}
.mm-navbar .mm-breadcrumbs > a {
  text-decoration : underline;
}

.mm-navbar.mm-hasbtns .mm-breadcrumbs {
  margin-right : -40px;
}

.mm-navbar.mm-hasbtns .mm-btn:not(.mm-hidden) + .mm-breadcrumbs {
  margin-right : 0;
  padding-right : 0;
}

.mm-navbar-top-1 {
  top : 0;
}

.mm-hasnavbar-top-1 .mm-panels {
  top : 40px;
}

.mm-navbar-top-2 {
  top : 40px;
}

.mm-hasnavbar-top-2 .mm-panels {
  top : 80px;
}

.mm-navbar-top-3 {
  top : 80px;
}

.mm-hasnavbar-top-3 .mm-panels {
  top : 120px;
}

.mm-navbar-top-4 {
  top : 120px;
}

.mm-hasnavbar-top-4 .mm-panels {
  top : 160px;
}

.mm-navbar-bottom-1 {
  bottom : 0;
}

.mm-hasnavbar-bottom-1 .mm-panels {
  bottom : 40px;
}

.mm-navbar-bottom-2 {
  bottom : 40px;
}

.mm-hasnavbar-bottom-2 .mm-panels {
  bottom : 80px;
}

.mm-navbar-bottom-3 {
  bottom : 80px;
}

.mm-hasnavbar-bottom-3 .mm-panels {
  bottom : 120px;
}

.mm-navbar-bottom-4 {
  bottom : 120px;
}

.mm-hasnavbar-bottom-4 .mm-panels {
  bottom : 160px;
}

.mm-navbar-size-2 {
  height : 80px;
}

.mm-navbar-size-3 {
  height : 120px;
}

.mm-navbar-size-4 {
  height : 160px;
}

.mm-navbar-content-2 > * {
  width : 50%;
}

.mm-navbar-content-3 > * {
  width : 33.33%;
}

.mm-navbar-content-4 > * {
  width : 25%;
}

.mm-navbar-content-5 > * {
  width : 20%;
}

.mm-navbar-content-6 > * {
  width : 16.67%;
}

/*
	jQuery.mmenu searchfield addon CSS
*/
.mm-search, .mm-search input {
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
          box-sizing : border-box;
}

.mm-search {
  height : 40px;
  padding : 7px 10px 0 10px;
  position : relative;
}
.mm-search input {
  border : none !important;
  outline : none !important;
  -webkit-box-shadow : none !important;
          box-shadow : none !important;
  border-radius : 26px;
  font : inherit;
  font-size : 14px;
  line-height : 26px;
  display : block;
  width : 100%;
  height : 26px;
  margin : 0;
  padding : 0 10px;
}
.mm-search input::-ms-clear {
  display : none;
}
.mm-search .mm-clear, .mm-search .mm-next {
  left : 0;
}

.mm-panel > .mm-search {
  width : 100%;
  position : absolute;
  top : 0;
  right : 0;
}

.mm-panel.mm-hassearch {
  padding-top : 40px;
}
.mm-panel.mm-hassearch.mm-hasnavbar {
  padding-top : 80px;
}
.mm-panel.mm-hassearch.mm-hasnavbar .mm-search {
  top : 40px;
}

.mm-noresultsmsg {
  text-align : center;
  font-size : 21px;
  padding : 40px 0;
}

.mm-noresults .mm-indexer {
  display : none !important;
}

li.mm-nosubresults > a.mm-next {
  display : none;
}
li.mm-nosubresults > a.mm-next + a, li.mm-nosubresults > a.mm-next + span {
  padding-left : 10px;
}

.mm-panels > .mm-resultspanel:not(.mm-opened) {
  -webkit-transform : translate3d(0, 0, 0);
     -moz-transform : translate3d(0, 0, 0);
          transform : translate3d(0, 0, 0);
}

.mm-menu .mm-search input {
  background : rgba(0, 0, 0, 0.05);
  color : rgba(0, 0, 0, 0.7);
}

.mm-menu .mm-noresultsmsg {
  color : rgba(0, 0, 0, 0.3);
}

.mm-menu {
  background : #F3F3F3;
  border-color : rgba(0, 0, 0, 0.1);
  color : rgba(0, 0, 0, 0.7);
}
.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a {
  color : rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-btn:before, .mm-menu .mm-btn:after {
  border-color : rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-listview {
  border-color : rgba(0, 0, 0, 0.1);
}
.mm-menu .mm-listview > li .mm-next:after, .mm-menu .mm-listview > li .mm-arrow:after {
  border-color : rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-listview > li a:not(.mm-next) {
  -webkit-tap-highlight-color : rgba(255, 255, 255, 0.5);
          tap-highlight-color : rgba(255, 255, 255, 0.5);
}
.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span {
  background : rgba(255, 255, 255, 0.5);
}
.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next, .mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel, .mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next, .mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
  background : rgba(0, 0, 0, 0.05);
}
.mm-menu .mm-divider {
  background : rgba(0, 0, 0, 0.05);
}

.vertical-mmenu .main-menu:not(.mm-menu) {
  display : none;
}

.vertical-mmenu .mm-navbar.mm-navbar-top {
  border : none;
}
.vertical-mmenu .mm-navbar.mm-navbar-top .mm-search {
  padding : 12px 10px 0 10px;
}

.vertical-mmenu .mm-listview > li > span {
  padding : 0;
  font-family : inherit;
  font-size : 1rem;
  text-transform : uppercase;
  text-indent : 0;
}

.vertical-mmenu .mm-listview > li:hover .mm-arrow:after, .vertical-mmenu .mm-listview > li:hover .mm-next:after {
  border-color : white;
}

.vertical-mmenu .mm-listview > li:not(.mm-divider):after {
  right : 0;
}

.vertical-mmenu .mm-listview li.has-sub a:not(.mm-next):after {
  display : none !important;
}

.vertical-mmenu .mm-panels {
  top : 4rem;
}
.vertical-mmenu .mm-panels > .mm-panel {
  position : absolute;
  top : 0;
  bottom : 0;
  right : 0;
  left : -17px;
  overflow-y : scroll;
}

.vertical-mmenu .main-menu:not(.menu-native-scroll) .mm-panels > .mm-panel {
  position : absolute;
  top : 0;
  bottom : 0;
  right : 0;
  left : -17px;
  overflow-y : scroll;
}

.vertical-mmenu .main-menu.menu-native-scroll {
  overflow-y : hidden;
}
.vertical-mmenu .main-menu.menu-native-scroll .mm-panels > .mm-panel {
  position : absolute;
  top : 0;
  bottom : 0;
  right : 0;
  left : 0;
  overflow-y : auto;
}

.vertical-mmenu .menu-light.mm-menu .mm-listview > li:after, .vertical-mmenu .menu-light.mm-menu .mm-listview > li .mm-next, .vertical-mmenu .menu-light.mm-menu .mm-listview > li .mm-next:before {
  border-color : #E2E2E2;
}

.vertical-mmenu .menu-dark.mm-menu .mm-navbar {
  border-color : #34424C;
}

.vertical-mmenu .menu-dark.mm-menu .mm-listview > li:after, .vertical-mmenu .menu-dark.mm-menu .mm-listview > li .mm-next, .vertical-mmenu .menu-dark.mm-menu .mm-listview > li .mm-next:before {
  border-color : #34424C;
}

.vertical-mmenu .navbar .navbar-header {
  float : right;
  width : 240px;
}

.vertical-mmenu .navbar.navbar-brand-center .navbar-header {
  float : right;
  width : auto;
}

.vertical-mmenu .navbar .navbar-container {
  margin-right : 240px;
}

.vertical-mmenu .main-menu {
  width : 240px;
  -webkit-transition : 300ms ease all;
     -moz-transition : 300ms ease all;
       -o-transition : 300ms ease all;
          transition : 300ms ease all;
  -webkit-backface-visibility : hidden;
     -moz-backface-visibility : hidden;
          backface-visibility : hidden;
  /* .main-menu-content{
			// height: 100%;
			height: calc(100% - 4rem);
		} */
}
.vertical-mmenu .main-menu .navigation > li.mm-divider {
  padding : 8px 20px;
}
.vertical-mmenu .main-menu .navigation > li.mm-divider .icon-ellipsis {
  visibility : hidden;
  display : none;
  opacity : 0;
}
.vertical-mmenu .main-menu .navigation > li > a > i {
  font-size : 1.2rem;
  margin-left : 12px;
  float : right;
}
.vertical-mmenu .main-menu .navigation > li > a > i:before {
  -webkit-transition : 200ms ease all;
     -moz-transition : 200ms ease all;
       -o-transition : 200ms ease all;
          transition : 200ms ease all;
}
.vertical-mmenu .main-menu .navigation > li > a > span {
  float : right;
}
.vertical-mmenu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content : '\ea0a';
  font-family : 'icomoon';
  font-size : 1rem;
  display : inline-block;
  position : absolute;
  left : 20px;
  top : 10px;
  -webkit-transform : rotate(0deg);
     -moz-transform : rotate(0deg);
      -ms-transform : rotate(0deg);
       -o-transform : rotate(0deg);
          transform : rotate(0deg);
  transition : -webkit-transform 0.2s ease-in-out;
}
.vertical-mmenu .main-menu .navigation li.open > a:not(.mm-next):after {
  -webkit-transform : rotate(-90deg);
     -moz-transform : rotate(-90deg);
      -ms-transform : rotate(-90deg);
       -o-transform : rotate(-90deg);
          transform : rotate(-90deg);
}
.vertical-mmenu .main-menu.menu-dark .navigation > li.open a {
  background : none;
}
.vertical-mmenu .main-menu.menu-dark .navigation > li.open a span {
  color : #DCDCDC;
}
.vertical-mmenu .main-menu.menu-dark .mm-navbar .mm-search a.mm-btn {
  top : 7px;
}
.vertical-mmenu .main-menu.menu-dark .mm-navbar .mm-search a.mm-btn:before, .vertical-mmenu .main-menu.menu-dark .mm-navbar .mm-search a.mm-btn:after {
  border-color : #DCDCDC;
}
.vertical-mmenu .main-menu .mm-listview > li.mm-selected > a:not(.mm-next), .vertical-mmenu .main-menu .mm-listview > li.mm-selected > span {
  background : #141E25;
}
.vertical-mmenu .main-menu .mm-noresultsmsg {
  color : #DCDCDC;
}

.vertical-mmenu .content, .vertical-mmenu .footer {
  margin-right : 240px;
}

.vertical-mmenu .navbar-brand-center .content, .vertical-mmenu .navbar-brand-center .footer {
  margin-right : 0;
}

.vertical-mmenu.menu-open .main-menu {
  opacity : 1;
  -webkit-transition : opacity 0.25s,top 0.35s,height 0.35s, -webkit-transform 0.25s;
          transition : opacity 0.25s,top 0.35s,height 0.35s, -webkit-transform 0.25s;
     -moz-transition : transform 0.25s, opacity 0.25s,top 0.35s,height 0.35s, -moz-transform 0.25s;
       -o-transition : transform 0.25s, opacity 0.25s,top 0.35s,height 0.35s, -o-transform 0.25s;
          transition : transform 0.25s, opacity 0.25s,top 0.35s,height 0.35s;
          transition : transform 0.25s, opacity 0.25s,top 0.35s,height 0.35s, -webkit-transform 0.25s, -moz-transform 0.25s, -o-transform 0.25s;
  -webkit-transform : translate3d(0, 0, 0);
     -moz-transform : translate3d(0, 0, 0);
          transform : translate3d(0, 0, 0);
  -webkit-backface-visibility : hidden;
     -moz-backface-visibility : hidden;
          backface-visibility : hidden;
  -webkit-perspective : 1000;
     -moz-perspective : 1000;
          perspective : 1000;
}

.vertical-mmenu.menu-hide .navbar .navbar-header {
  float : right;
  width : 240px;
}

.vertical-mmenu.menu-hide .navbar.navbar-brand-center .navbar-header {
  float : right;
  width : auto;
}

.vertical-mmenu.menu-hide .navbar .navbar-container {
  margin-right : 240px;
}

.vertical-mmenu.menu-hide .content, .vertical-mmenu.menu-hide .footer {
  margin-right : 0;
}

.vertical-mmenu.menu-hide .navbar-brand-center .content, .vertical-mmenu.menu-hide .navbar-brand-center .footer {
  margin-right : 0;
}

.vertical-mmenu.menu-hide .main-menu {
  opacity : 0;
  -webkit-transition : opacity 0.25s,top 0.35s,height 0.35s, -webkit-transform 0.25s;
          transition : opacity 0.25s,top 0.35s,height 0.35s, -webkit-transform 0.25s;
     -moz-transition : transform 0.25s, opacity 0.25s,top 0.35s,height 0.35s, -moz-transform 0.25s;
       -o-transition : transform 0.25s, opacity 0.25s,top 0.35s,height 0.35s, -o-transform 0.25s;
          transition : transform 0.25s, opacity 0.25s,top 0.35s,height 0.35s;
          transition : transform 0.25s, opacity 0.25s,top 0.35s,height 0.35s, -webkit-transform 0.25s, -moz-transform 0.25s, -o-transform 0.25s;
  -webkit-transform : translate3d(240px, 0, 0);
     -moz-transform : translate3d(240px, 0, 0);
          transform : translate3d(240px, 0, 0);
  -webkit-backface-visibility : hidden;
     -moz-backface-visibility : hidden;
          backface-visibility : hidden;
  -webkit-perspective : 1000;
     -moz-perspective : 1000;
          perspective : 1000;
}

.vertical-mmenu.menu-hide.menu-flipped .content, .vertical-mmenu.menu-hide.menu-flipped .footer {
  margin : 0;
  margin-left : 0;
}

.vertical-mmenu.menu-hide.menu-flipped .main-menu {
  -webkit-transform : translate3d(-240px, 0, 0);
     -moz-transform : translate3d(-240px, 0, 0);
          transform : translate3d(-240px, 0, 0);
  -webkit-backface-visibility : hidden;
     -moz-backface-visibility : hidden;
          backface-visibility : hidden;
  -webkit-perspective : 1000;
     -moz-perspective : 1000;
          perspective : 1000;
}

.vertical-mmenu.menu-flipped .content, .vertical-mmenu.menu-flipped .footer {
  margin : 0;
  margin-left : 240px;
}

.vertical-mmenu.menu-flipped .main-menu {
  left : 0;
  right : inherit;
}
.vertical-mmenu.menu-flipped .main-menu .navigation > li > ul {
  left : 240px;
  right : inherit;
}

.vertical-mmenu.menu-flipped .navbar .navbar-header {
  float : left;
}

.vertical-mmenu.menu-flipped .navbar .navbar-container {
  margin : 0;
  margin-left : 240px;
}

@media (min-width: 992px) {
  body.vertical-mmenu .main-menu {
    width : 240px;
  }
  body.vertical-mmenu .navbar .navbar-header {
    width : 240px;
  }
  body.vertical-mmenu .content, body.vertical-mmenu .footer {
    margin-right : 240px;
  }
}

@media (max-width: 991px) {
  body.vertical-mmenu .navbar .navbar-header {
    width : 0;
  }
  body.vertical-mmenu .content, body.vertical-mmenu .footer {
    margin-right : 0;
  }
  body.vertical-mmenu .mm-next:after, body.vertical-mmenu .mm-arrow:after {
    left : 30px;
  }
}

@media (max-width: 1199px) {
  .mm-next:after, .mm-arrow:after {
    left : 35px;
  }
}